<!-- START Dropdown -->
<script>
	document.querySelectorAll(".dropdown").forEach((dropdown) => {
		const dropdownHeader = dropdown.querySelector(".dropdown_header");
		const dropdownContent = dropdown.querySelector(".dropdown_content");
		const dropdownIcon = dropdown.querySelector(".dropdown_icon");

		dropdownContent.style.maxHeight = 0;

		dropdownHeader.addEventListener("click", (event) => {
			if (dropdownContent.style.maxHeight === "0px") {
				dropdownContent.style.maxHeight = "100vh";
				dropdownIcon.style.transform = "rotateX(180deg)";
				dropdownHeader.classList.remove("closed");
			} else {
				dropdownContent.style.maxHeight = "0px";
				dropdownIcon.style.transform = "rotateX(0deg)";
				dropdownHeader.classList.add("closed");
			}
		});
	});
</script>
<!-- END Dropdown-->

<!-- START Hover Dropdown -->
<style>
	.dropdown_content {
		max-height: 0px;
		display: block;
	}
	.dropdown:hover .dropdown_content {
		max-height: 100vh;
	}
	.dropdown_link_overlay {
		display: block;
	}
</style>
<!-- END Hover Dropdown-->
