<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">
	import {
		getAuth,
		onAuthStateChanged,
		signOut,
	} from "https://www.gstatic.com/firebasejs/9.1.1/firebase-auth.js";

	const auth = getAuth();

	const registeredUI = document.querySelector("#registered-ui");
	const unregisteredUI = document.querySelector("#unregistered-ui");

	const pricingTab = document.querySelector("#pricing-nav-item");

	const signoutButton = document.getElementById("signout-btn");
	const upgradeButton = document.querySelector("#upgrade-btn");
	const manageSubscriptionButton = document.querySelector("#manage-license-btn");

	onAuthStateChanged(auth, async (user) => {
		if (user) {
			show(registeredUI);
			hide(unregisteredUI);
			const displayName = user.displayName;
			document.querySelectorAll(".username-text").forEach((element) => {
				if (displayName !== "null") element.innerText = displayName;
				else element.innerText = "Account";
			});
			user.getIdTokenResult().then((idTokenResult) => {
				const paid = !!idTokenResult.claims.paid ? true : false;
				// Update if the user is paid
				if (paid) {
					show(manageSubscriptionButton);
					hide(upgradeButton);
					hide(pricingTab);
				} else {
					show(upgradeButton);
					hide(manageSubscriptionButton);
				}
			});
		} else {
			show(unregisteredUI);
			hide(registeredUI);
		}
	});

	signoutButton.addEventListener("click", (event) => {
		event.preventDefault();
		event.stopPropagation();

		signOut(auth)
			.then(() => {
				localStorage.removeItem("uid");
				localStorage.removeItem("email");
				localStorage.removeItem("userData");
				localStorage.removeItem("tab");
				localStorage.removeItem("name");
				localStorage.removeItem("paid");
				location.reload();
			})
			.catch((error) => console.log(error));
	});

	manageSubscriptionButton.addEventListener("click", async (event) => {
		event.preventDefault();
		event.stopPropagation();

		let token = auth.currentUser && (await auth.currentUser.getIdToken(true));
		axios({
			method: "post",
			url: API_URL + "/stripe/create-customer-portal-session",
			headers: {
				Authorization: `Bearer ${token}`,
			},
		})
			.then((res) => {
				window.location.href = res.data.url;
			})
			.catch((err) => {
				console.log(err);
			});
	});
</script>

<!-- START Dropdown -->
<script>
	document.querySelectorAll(".dropdown").forEach((dropdown) => {
		const dropdownHeader = dropdown.querySelector(".dropdown_header");
		const dropdownContent = dropdown.querySelector(".dropdown_content");
		const dropdownIcon = dropdown.querySelector(".dropdown_icon");

		dropdownContent.style.maxHeight = 0;

		dropdownHeader.addEventListener("click", (event) => {
			if (dropdownContent.style.maxHeight === "0px") {
				dropdownContent.style.maxHeight = "100vh";
				dropdownIcon.style.transform = "rotateX(180deg)";
				dropdownHeader.classList.remove("closed");
			} else {
				dropdownContent.style.maxHeight = "0px";
				dropdownIcon.style.transform = "rotateX(0deg)";
				dropdownHeader.classList.add("closed");
			}
		});
	});
</script>
<!-- END Dropdown-->

<!-- START Hover Dropdown -->
<style>
	.dropdown_content {
		max-height: 0px;
		display: block;
	}
	.dropdown:hover .dropdown_content {
		max-height: 100vh;
	}
	.dropdown_link_overlay {
		display: block;
	}
</style>
<!-- END Hover Dropdown-->
